/* Navbar2.module.css */

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: green;
  padding: 15px 20px;
  text-decoration: none;
}

.activeLink {
  border-bottom: 2px solid green; /* Ajusta el color y el estilo según tus preferencias */
  color: red;
}
