.techImage {
  max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de aspecto */
  padding: 10%;
}

.title{
  margin-top: 10%;
}
.container{
  background-color: rgb(43, 42, 42);
}
.logoMui{
  width: 8rem;
}

@media (min-width: 768px) {
  .title{
    margin-top: 5%;
  }
}